@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body{
    font-family: 'Exo', sans-serif;
}

.hero.is-info {
    background-image: linear-gradient(120deg, #b9e5ff 0%, #86a3ff 100%);
    background-color: transparent;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



body {
    background: #cecece
}

header {
    background: #000;
    color: #fff
}
.left-side,
.right-side {
    height: 100vh
}

.navbar-transparent {
    background: transparent
}

.navbar-nav>li>a {
    color: #fff
}

.navbar-nav>li:hover {
    border-bottom: 1px solid #fff
}

.navbar-nav>.active {
    border-bottom: 1px solid #fff
}

.navbar-brand {
    font-family: 'Allerta Stencil', sans-serif;
    color: #83ff00
}

.navbar-brand:hover {
    color: #fff
}

.left-side img {
    padding-top: 100px
}

.right-side {
    padding-top: 150px
}

.right-side h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2.4em;
    text-align: center
}

.right-side p {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold
}

.btn.order-button {
    background: transparent;
    border: 2px solid #83ff00;
    color: #83ff00;
    border-radius: 30%;
    transition: 0.7s
}

.btn.order-button:hover {
    border: 2px solid #ce0000;
    color: #ce0000
}