@font-face {
  font-family: "Genshin";
  src: url("D:/github/enlixe.github.io/assets/ja-jp.ttf");
}

body {
  background-color: rgb(61, 61, 61);
  font-family: "Genshin", Helvetica, sans-serif;
  text-align: center;
}

h1#header {
  font-size: 60px;
  color: white;
}
h2#header {
  font-size: 50px;
  color: rgb(112, 98, 204);
}

#countdown {
  font-size: 80px;
  color: rgb(78, 141, 212);
}
