@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    font-family: 'Exo', sans-serif;
}

body {
    background-color: #67c7ff !important;
}

div .content {
    padding-top: 10%;

    color: whitesmoke;
}

.download {
    padding-left: 2rem;
    color: whitesmoke !important;
}

.downloadText {
    padding-left: 2rem;
}