@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    font-family: 'Exo', sans-serif;
}

body {
    background-color: #67c7ff !important;
}

div .content {
    padding-top: 10%;

    color: whitesmoke;
}

#black {
    color: rgb(70, 70, 70);
}
#white {
    color: whitesmoke;
}